.custom-bg {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/images/bg-001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left: 0;
    max-width: 360px;
    margin: 2% auto;
    overflow-x: hidden;
}

.modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 ) 
                url('/images/loader.gif') 
                50% 50% 
                no-repeat;
}

.div-modal {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8) 
                url('/images/loader.gif') 
                center
                center no-repeat;
}

.middle {
  vertical-align: middle !important;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.himg-1{background-image:url(/images/cover/1.jpg);}
.himg-2{background-image:url(/images/cover/2.jpg);}
.himg-3{background-image:url(/images/cover/3.jpg);}
.himg-4{background-image:url(/images/cover/4.jpg);}
.himg-5{background-image:url(/images/cover/5.jpg);}
.himg-6{background-image:url(/images/cover/6.jpg);}
.himg-7{background-image:url(/images/cover/7.jpg);}
.himg-8{background-image:url(/images/cover/8.jpg);}
.himg-9{background-image:url(/images/cover/9.jpg);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:50% !important;height:150px !important;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }

